#wpadminbar #wp-admin-bar-gm-cache-bust > .ab-item .ab-icon {
	margin-right: 0;
}

#wpadminbar #wp-admin-bar-gm-cache-bust > .ab-item .ab-icon:before {
	content: "\f463";
	top: 2px;
}

#wpadminbar #wp-admin-bar-gm-cache-bust.gm-cache-bust-on > .ab-item .ab-label {
	color: #00d084;
}

#wpadminbar #wp-admin-bar-gm-cache-bust.gm-cache-bust-off > .ab-item .ab-label {
	color: #a7aaad;
}

#wpadminbar #wp-admin-bar-gm-cache-bust .gm-cache-bust-current > .ab-item,
#wpadminbar #wp-admin-bar-gm-cache-bust .gm-cache-bust-current > .ab-item:hover,
#wpadminbar #wp-admin-bar-gm-cache-bust .gm-cache-bust-current > .ab-item:focus {
	color: #fff;
	background: #2271b1;
}
