#wpadminbar #wp-admin-bar-gm-cache-bust > .ab-item .ab-icon {
	margin-right: 0;
}

#wpadminbar #wp-admin-bar-gm-cache-bust > .ab-item .ab-icon:before {
	content: "\f463";
	top: 2px;
}

#wpadminbar #wp-admin-bar-gm-cache-bust.gm-cache-bust-on > .ab-item .ab-label {
	color: #00d084;
}

#wpadminbar #wp-admin-bar-gm-cache-bust.gm-cache-bust-off > .ab-item .ab-label {
	color: #a7aaad;
}

#wpadminbar .quicklinks .menupop ul li.gm-cache-bust-current > a.ab-item,
#wpadminbar .quicklinks .menupop.hover ul li.gm-cache-bust-current > a.ab-item,
#wpadminbar .quicklinks .menupop ul li.gm-cache-bust-current > a.ab-item:hover,
#wpadminbar .quicklinks .menupop ul li.gm-cache-bust-current > a.ab-item:focus,
#wpadminbar #wp-admin-bar-gm-cache-bust-mode-load.gm-cache-bust-current > .ab-item,
#wpadminbar #wp-admin-bar-gm-cache-bust-mode-hour.gm-cache-bust-current > .ab-item {
	color: #fff !important;
	background: #2271b1 !important;
}

#wpadminbar li.gm-cache-bust-current .gm-cache-bust-check {
	font-weight: 600;
	margin-right: 4px;
}
